/* Categories - Template - Default */
.module-categories-template-default li {
    list-style: none;
}

.module-categories-template-default li li a {
    padding-left: 30px;
}

.module-categories-template-default li li li a {
    padding-left: 45px;
}

.module-categories-template-default li li li li a {
    padding-left: 60px;
}

/* Categories - Template - Horizontal List 1 */
.module-categories-template-horizontal-list-1 ul.mw-cats-menu {
    list-style-type: none;
    min-height: 30px;
    padding-left: 20px;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu li {
    display: inline-block;
    /*position: relative;*/
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu li.active>a {
    font-weight: bold;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu li a {
    color: #373737;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu li a:hover {
    color: #309be3 !important;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu>li>a {
    padding: 10px;
    display: block;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu>li>ul {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 1;
    border: 1px solid #000;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu>li:hover>ul {
    display: block;
    padding: 10px 0;
}

.module-categories-template-horizontal-list-1 ul.mw-cats-menu>li>ul>li {
    display: block;
    padding: 5px 10px;
}

.module-categories.module-categories-template-horizontal-list-1 {
    border: 1px solid #e9e9e9;
}

/* Nayem Css */

.mw_alert h4 {
    font-size: 16px;
    font-weight: 700;
}

a.mw-cart-small-checkout {
    background-color: #0369D9;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
}

span.mw-cart-small-icon-shopping-cart {
    font-size: 34px !important;
}

@media screen and (max-width: 600px) {
    .module-categories-template-horizontal-list-1 ul.mw-cats-menu li {
        display: block;
    }

    .module-categories-template-horizontal-list-1 ul.mw-cats-menu>li>ul,
    .module-categories-template-horizontal-list-1 ul.mw-cats-menu>li:hover>ul {
        display: block;
        padding: 0 0 0 20px;
        border: 0;
        position: relative;
    }

    .module-categories-template-horizontal-list-1 ul.mw-cats-menu>li>a {
        padding: 0px 10px;
    }

    .module-categories-template-horizontal-list-1 ul.mw-cats-menu {
        width: 200px;
        margin: 0 auto;
    }
}
