
 /* #mw-tooltip-1506937690838 */ 
#mw-tooltip-1506937690838 { top: 581.094px; left: 1177.5px; display: none; }
 /* #mw-tooltip-1506937690838 */ 

 /* #mw-tooltip-1506937690838 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1506937690838 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 257px; }
 /* #mw-tooltip-1506937690838 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 111px; cursor: auto; }
 /* body */ 
