.mw-cart-small-order-info i {
    font-size: 24px;

}

.mw-cart-small-order-info strong,
.cart-no-item strong {
    font-size: 14px;
}

.cart-no-item i {
    font-size: 24px;
}

.product-tax-text {
    margin-bottom: 10px;
}

.wishlist-logo img {
    height: 25px;
    width: 25px;
}

.custom-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.wishlist-logo {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.select2-container {
    width: 110px !important;
}

.select2-container--default .select2-selection--multiple {}

.select2-container--open .select2-dropdown--below {
    width: 110px !important;
}

.select2-results__option {
    padding: 2px 6px;
}

.select2-container--default .select2-selection--single {
    display: none !important;
}


.product-price-holder {
    text-align: center;
}


.copy-url {
    margin-top: 10px;
}


.product-item h3 {
    text-align: center;
    margin-top: 0px !important;
}

.product-image {
    height: 228px;
    width: 100%;
}

.product-image img {
    height: 100%;
    width: 100%;
}

.product-info {
    height: 100px;
}

.product-des {
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 8px 0;
}


#header .header-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.custom-sidebar-style {
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #d9d9d9,
        inset -20px -20px 60px #ffffff;
}

.product-wishlist {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mw-cats-menu {
    list-style-type: none;
    min-height: 30px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mw-cats-menu li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: rgb(33, 33, 33);
    position: relative;
    text-decoration: none !important;
}

#delete_sss {
    margin-right: 10px;
}

.mw-cats-menu li button {
    background-color: transparent !important;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}


.js-login-window .icon,
.js-register-window .icon {
    text-align: center;
    font-size: 45px;
}

.js-login-window #mw-login {
    margin: 0 !important;
    padding-top: 0px !important;
    max-width: auto !important;
}

.js-login-window #mw-login .box-head h4 {
    text-align: center;
}


.login-modal .modal-dialog {
    max-width: 500px;
}

.login-modal .modal-body {
    padding: 20px 60px;
}


.login-modal .or span:after,
.login-modal .or span:before {
    content: "";
    position: absolute;
    height: 13px;
    border-bottom: 1px solid #c3c3c3;
    top: 0;
    width: 600px;
}

.login-modal .or span:before {
    right: 100%;
    margin-right: 15px;
}

.login-modal .or span:after {
    left: 100%;
    margin-left: 15px;
}

.login-modal .or {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.login-modal .or span {
    display: inline-block;
    position: relative;
}

.login-modal .act {
    position: relative;
    margin: 25px 0 20px;
    text-align: center;
}

.login-modal .act a {
    font-size: 16px;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.login-button,
.register-button {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.cart-small {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.shop-product-row {
    margin-top: 20px;
}

.btn-member a {
    border-radius: 5px;
}


#quick_overview-icon {
    cursor: pointer;
    position: relative;
}


.modal-backdrop {
    opacity: 0.5 !important;
}


#checkout-product {
    position: absolute;
    top: 121%;
    right: 0;
    width: 500px;
    z-index: 999;
    background-color: #fff;
    padding: 15px 10px;
    left: auto;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 3px 3px #e4e4e4;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#checkout-product .product-item {
    margin-bottom: 20px;
}

#checkout-product .item-title a {
    color: #666666 !important;
    font-weight: 600 !important;
}

#checkout-product .item-action a {
    color: red !important;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: flex;
    align-items: center;
    background-color: #28a745;
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;

}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}


.shipping-sys h2 {
    margin-top: 0 !important;
}

.checkout-box-shadow-style {
    box-shadow: 0 0 6px 0px #b9e4ff;
    padding: 10px;
}


.action-button {
    background-color: #28a745 !important;
    color: #fff;
    border-radius: 5px;
}

.product-inner-wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mw-cart-small-order-info strong:focus {
    outline: 0 !important;
}

.header-cart-link:hover {
    text-decoration: none !important;
}


.product-item {
    margin-bottom: 20px;
}


.product-row {
    display: flex;
    flex-wrap: wrap;
}

.product-col {
    width: 33%;
    padding: 0 5px;
}

.checkout-checkbox {
    margin-bottom: 20px;
}
