.price-val{
    font-size: 20px;
}
.price-description{
    font-size: 12px;
}
.price-description span a{
    text-decoration: none;
    color: #7FA1D1;
    margin-left: 5px;;
}
.price-description span a{
    text-decoration: none;
}
.custom-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-price-img{
    margin-left: 16%;
    width: 10%;
}
.custom-price-select2{
    width: 100%;
    padding-right: 40px;
}
.btn-modify1{
    font-size: 17px;
    color: yellow;
    margin-top: 18px;
    padding: 8px 14px;
    border-radius: 5px;
}
.btn-modify2{
    font-size: 17px;
    display: inline-block;
    color: yellow;
    margin-top: 10px;
    padding: 8px 55px;
    border-radius: 5px;
    height: auto !important;
    white-space: normal;
}