#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu #menu-button {
    display: none;
}

@media all and (max-width: 800px) {

    #cssmenu>ul {
        display: none;
    }

    #cssmenu>ul.open {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #cssmenu #menu-button {
        display: block;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        color: #dddddd;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }


    #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        right: 25px;
        top: 18px;
    }

    #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #dddddd;
        right: 25px;
        top: 28px;
    }

}
