@media screen and (max-width: 1024px) {
    .module-custom-fields .mw-flex-row .mw-flex-col-md-12 {
        width: 100% !important;
    }

    .btn-member .dropdown-menu {
        right: 0;
        left: auto;
    }

    .customize-modal {
        width: 50% !important;
    }
}

@media screen and (max-width: 800px) {
    .responsive-bg {
        background: cadetblue;
    }

    #cssmenu #menu-button {
        color: #fff !important;
    }

    .mw-search-autocomplete .mw-search-autocomplete-field-holder {
        display: none;
    }

    .module-navigation-default a.active {
        background: transparent !important;
    }

    .module-navigation-default a {
        color: #000;
    }

    .customize-modal {
        width: 75% !important;
    }
}

@media screen and (max-width: 768px) {
    .product-col {
        width: 50%;
    }

    .content-gallery-slider .carousel-inner .item img {
        max-height: 450px;
    }

    .slide-edit {
        width: 48%;
        float: left;
    }

    .sidebar-edit {
        width: 48%;
        float: right;
        margin-left: 20px;
    }
}

@media screen and (max-width: 520px) {
    .customize-modal {
        width: 70% !important;
    }

    .product-col {
        width: 100%;
    }

    .slide-edit {
        width: 100%;
        float: none;
    }

    .sidebar-edit {
        width: 100%;
        float: none;
        margin-left: 0px;
    }

    #progressbar li span {
        display: flex;
        align-items: center;
        background-color: #28a745;
        clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
        width: 160px;
        height: 37px;
        justify-content: center;
        padding-right: 6px;
        margin: 0 auto;
        font-size: 9px;
    }

    .cart-table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block !important;
    }
    .checkout-total-table,
    .checkout-total-table thead,
    .checkout-total-table tbody,
    .checkout-total-table th,
    .checkout-total-table td,
    .checkout-total-table tr {
        display: block !important;
    }
    .cart-table thead tr,
    .checkout-total-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .cart-table tr,
    .checkout-total-table tr {
        border: 1px solid #ccc !important;
    }
    .checkout-total-table td{
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        text-align: left;
    }
    .cart-table td{
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    .cart-table td:before,
    .checkout-total-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }
    .checkout-total-table label{
        text-align: left !important;
    }

    .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .cart-table td:nth-of-type(3):before {
        content: "MENGE";
    }

    .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    #checkout-product .cart-table td:nth-of-type(6) {
        text-align: center !important;
    }

    .cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }

    #checkout-product {
        width: 400px;
    }

    .customize-modal .mw-cart-item td:last-child {
        text-align: left !important;
    }
}

@media screen and (max-width: 414px) {
    .customize-modal {
        width: 80% !important;
    }

    .content-gallery-slider .carousel-inner .item img {
        max-height: 220px;
    }

    .masonry-item-grid {
        width: 100% !important;
    }

    .checkout-box-shadow-style h2 {
        font-size: 18px;
    }

    #checkout-product {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .content-gallery-slider .carousel-inner .item img {
        max-height: 180px;
    }
}

.mw-flex-col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 100%;
}

.add-btn-padding {
    padding: 0px 15px !important;
    margin-top: 20px;
}

.flex-modify {
    flex-basis: 0% !important;
}

.mw-ui-field-holder {
    padding: 10px 20px;
}
