
 /* #blog-content-29 > div.nk-header-title.nk-header-title-lg > div.bg-image > div */ 
#blog-content-29 > div.nk-header-title.nk-header-title-lg > div.bg-image > div { background-image: url(//snow.microweber.com/userfiles/cache/thumbnails/1200/tn-2c2c06671a8bc7209436fd3be1484b37.jpg); }
 /* #blog-content-29 > div.nk-header-title.nk-header-title-lg > div.bg-image > div */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; cursor: auto; }
 /* body */ 
