
 /* #mw-tooltip-1495697254296 */ 
#mw-tooltip-1495697254296 { top: 1142px; left: 783.484px; display: none; }
 /* #mw-tooltip-1495697254296 */ 

 /* #mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 
#mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li { display: none; }
 /* #mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 

 /* #module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 */ 
#module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 { width: 810px; height: 733px; display: block; top: 97px; left: 441.5px; }
 /* #module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 */ 

 /* #mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 362px; }
 /* #mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; }
 /* #mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; }
 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 222px; }
 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 
#mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li { display: none; }
 /* #mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 

 /* #mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 245px; }
 /* #mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix */ 
#module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix { display: block; }
 /* #module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix */ 

 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 
#module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail { height:65px;background: #f5f5f5 url(//sasho.microweber.com/userfiles/modules/pictures/pictures.png) no-repeat center; }
 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 

 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 
.mw-plus-bottom.mw-wyswyg-plus-element {  top: -9999px; left: 379.547px; top: 299px; left: 279.5px; }
 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 

 /* #template-settings > .template-settings-icon */ 
#template-settings > .template-settings-icon {  background-color: rgb(111, 111, 111); null }
 /* #template-settings > .template-settings-icon */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element {  top: 614px; left: 313.094px; top: 1068px; left: 1310px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 

 /* #mw-reset-content-editor-front > .iframe_fix */ 
#mw-reset-content-editor-front > .iframe_fix { display: none; }
 /* #mw-reset-content-editor-front > .iframe_fix */ 

 /* #mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; display: none; }
 /* #mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; cursor: auto; }
 /* body */ 
