.mw-social-icons-layout-list [class*='mw-icon-'] {
    font-size: 24px;
    margin: 0 6px;
}

/* Elements for Layouts */

/* Skin 1 */
.mw-static-element.mw-text-and-image > .mw-ui-row > .mw-ui-col {
    position: relative;
}

.mw-static-element.mw-text-and-image .mw-image-holder-div {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.mw-static-element.mw-text-and-image .mw-image-holder-div .mw-background-image-holder {
    width: 100%;
    min-height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.mw-static-element.mw-text-and-image .mw-image-holder-div .mw-background-image-holder img {
    visibility: hidden;
    max-width: 100%;
}

.mw-static-element.mw-text-and-image .mw-text-holder {
    padding: 0 30px;
}

.mw-static-element.mw-text-and-image .mw-row {
    margin: 0;
}

/* Skin 2 & Skin 4 */
.mw-static-element.mw-vertical-centered-text-and-image {
    display: table;
    width: 100%;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;

    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div img,
.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div p {
    margin: 0 !important;
    margin-bottom: 0 !important;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div > img {
    position: relative !important;
    opacity: 0;
    visibility: hidden !important;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div .mw-image-holder-div-content h1 {
    /*font-size: 48px;*/
    color: #fff;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div .mw-image-holder-div-content p {
    /*font-size: 22px;*/
    color: #fff;
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div .mw-image-holder-div-content .content-holder {
    display: table-cell;
    vertical-align: middle;
}

.mw-static-element.mw-vertical-centered-text-and-image .image,
.mw-static-element.mw-vertical-centered-text-and-image .info {
    width: 50%;
    display: table-cell;
    clear: none;
    vertical-align: middle;

    position: relative;
}

.mw-static-element.mw-vertical-centered-text-and-image .info {
    /*background: #f9f9f9;*/
    padding: 15px 60px;
}

.mw-static-element.mw-vertical-centered-text-and-image .info h4 {
    font-size: 30px;
    /*color: #3b3b3b;*/
    margin-bottom: 30px;
}

.mw-static-element.mw-vertical-centered-text-and-image .info p {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
}

@media screen and (max-width: 991px) {
    .mw-static-element.mw-vertical-centered-text-and-image .image,
    .mw-static-element.mw-vertical-centered-text-and-image .info {
        width: 100%;
        display: block;
    }
}

.mw-static-element.mw-vertical-centered-text-and-image .mw-image-holder-div-overlay {
    background-color: rgba(0, 0, 0, .1);
}

/* Skin 3 */
.mw-static-element.mw-head-image {
}

.two-images {
    margin-bottom: 40px;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.two-images .mw-head-image {
    margin: 0;
}

.mw-static-element.mw-head-image .mw-image-holder-div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.mw-static-element.mw-head-image .mw-image-holder-div .mw-image-holder-div-content {
    height: 410px;
    display: table;
    width: 100%;
    text-align: center;
}

.dragStart .mw-image-holder-div,
.dragStart .mw-image-holder-div-content {
    pointer-events: none;
}

.mw-static-element.mw-head-image .mw-image-holder-div .mw-image-holder-div-content h1 {
    font-size: 48px;
    color: #fff;
}

.mw-static-element.mw-head-image .mw-image-holder-div .mw-image-holder-div-content p {
    font-size: 22px;
    color: #fff;
}

.mw-static-element.mw-head-image .mw-image-holder-div .mw-image-holder-div-content .content-holder {
    display: table-cell;
    vertical-align: middle;
}

.mw-static-element.mw-head-image .mw-image-holder-div .mw-image-holder-div-content .content-holder .inner {
    width: 80%;
    margin: 0 auto;
    height: auto;
    position: relative;
}

/* Skin 5 */
.mw-static-element.mw-simple-title-and-text {
    padding: 45px 0;
}

.mw-static-element.mw-simple-title-and-text .info h1 {
    margin: 25px 0;
    text-align: center;
}

.mw-static-element.mw-simple-title-and-text .info p {
    margin: 25px 0;
    text-align: center;
}

/* Skin 6 */
.mw-static-element.mw-text-under-image .mw-image img {
    max-width: 100%;
}

.mw-static-element.mw-text-under-image .mw-text p {
    margin: 25px 0;
    text-align: justify;
}

.mw-static-element.mw-text-under-image .mw-ui-col {
    padding: 0 10px;
}

/* Skin 7 */

.mw-static-element.mw-icons-with-info .mw-icon {
    margin-top: 40px;
    margin-bottom: 25px;
}

.mw-static-element.mw-icons-with-info .mw-icon i {
    font-size: 55px;
}

.mw-static-element.mw-icons-with-info .mw-text {
    text-align: justify;
}

.mw-static-element.mw-icons-with-info .mw-text h1,
.mw-static-element.mw-icons-with-info .mw-text h2,
.mw-static-element.mw-icons-with-info .mw-text h3,
.mw-static-element.mw-icons-with-info .mw-text h4,
.mw-static-element.mw-icons-with-info .mw-text h5,
.mw-static-element.mw-icons-with-info .mw-text h6 {
    margin-bottom: 15px;
    margin-top: 0;
}

.mw-static-element.mw-icons-with-info .mw-text {
    margin: 15px 0 40px 0;
}

.mw-static-element.mw-icons-with-info .mw-ui-col {
    padding: 0 30px;
}

/* Skin 8 */
.mw-static-element.mw-head-100vh-image {
}

.two-images {
    margin-bottom: 40px;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.two-images .mw-head-image {
    margin: 0;
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 90vh;
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content {
    height: 80vh;
    display: table;
    width: 100%;
    text-align: center;
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content h1 {
    /*font-size: 48px;*/
    color: #fff;
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content p {
    /*font-size: 22px;*/
    color: #fff;
}

@media screen and (min-width: 1919px) {
    .mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content p {
        font-size: 22px;
    }
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content .content-holder {
    display: table-cell;
    vertical-align: middle;
}

.mw-static-element.mw-head-100vh-image .mw-image-holder-div .mw-image-holder-div-content .content-holder .inner {
    width: 80%;
    margin: 0 auto;
    height: auto;
    position: relative;
}

/* Skin 9 */

.mw-static-element.mw-image-and-text .mw-ui-col {
    vertical-align: middle;
}

.mw-static-element.mw-image-and-text .mw-ui-col .image {
    text-align: center;
}

.mw-static-element.mw-image-and-text .mw-ui-col .text {
    padding: 15px 25px;
}

/* Skin 10 */
.mw-static-element.mw-features-boxes {
    padding: 65px 0;
}

.mw-static-element.mw-features-boxes h1,
.mw-static-element.mw-features-boxes h2,
.mw-static-element.mw-features-boxes h3,
.mw-static-element.mw-features-boxes h4,
.mw-static-element.mw-features-boxes h5,
.mw-static-element.mw-features-boxes h6 {
    text-align: center;
}

.mw-static-element.mw-features-boxes .mw-ui-col {
    vertical-align: top;
    padding: 0 10px;
}

.mw-static-element.mw-features-boxes .mw-ui-col .number {
    font-weight: bold;
    font-size: 1.4em;
}

.mw-static-element.mw-features-boxes .text {
    text-align: justify !important;
}

.mw-static-element.mw-features-boxes .text h4 {
    text-align: left;
}

